body {
  position: relative;
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align items at the top */
  padding-top: 100px; /* Space for the form */
  
  background-color: #313131;
  background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
 
}
.form{
  position: absolute;
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.CardList {
  margin-top: 150px; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

